<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="android.app.activity.openEnterAnimation"
        android:resource="@anim/slide_in_top" />
    <meta-data
        android:name="android.app.activity.openExitAnimation"
        android:resource="@anim/slide_out_bottom" />
    <meta-data
        android:name="android.app.activity.closeEnterAnimation"
        android:resource="@anim/slide_in_top" />
    <meta-data
        android:name="android.app.activity.closeExitAnimation"
        android:resource="@anim/slide_out_bottom" />

    <application
        android:name=".Dynamic"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dopamine"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Travelling.DopamineTravelling"
            android:exported="false" />
        <activity
            android:name=".Bollywood.DopamineBollywood"
            android:exported="false" />
        <activity
            android:name=".Trending.DopamineTrending"
            android:exported="false" />
        <activity
            android:name=".Artist.ArtistProfile"
            android:exported="false" />
        <activity
            android:name=".DopamineMuiscPlayer.MasterMusicPlayer"
            android:exported="false" />
        <activity
            android:name=".TracksList.DopamineTracks"
            android:exported="false" />
        <activity
            android:name=".Like_songs"
            android:exported="false" />
        <activity
            android:name=".DopamineUserProfile"
            android:exported="false" />
        <activity
            android:name=".Dopamine_library"
            android:exported="false" />
        <activity
            android:name=".Dopamine_search"
            android:exported="false" />
        <activity
            android:name=".library"
            android:exported="false" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".authentication.continue_with_phone_otp"
            android:exported="true" />
        <activity
            android:name=".Dopamine_home"
            android:exported="true" />
        <activity
            android:name=".authentication.continue_with_phone"
            android:exported="true" />
        <activity
            android:name=".sign_up_free_pass"
            android:exported="true" />
        <activity
            android:name=".sign_up_free"
            android:exported="true" />
        <activity
            android:name=".authentication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>